.game-over-popup {
  position: fixed;
  left: 10%;
  top: 20%;

  width: 80%;
  height: 60%;

  background-color: coral;
  border-style: ridge;
  border-width: 1.7rem;
  border-color: chocolate;

  box-sizing: border-box;

  overflow-y: auto;

  animation: 1s ease-out 0s 1 slideUp;
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.game-over-popup h1 {
  justify-self: center;
  text-align: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4em;
}

.game-over-popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.game-over-popup p {
  background-color: peachpuff;
  padding: 0.25em;
  margin: 0.5em 7.5% 0.5em 7.5%;

  border-radius: 10px;

  font-family: Cambria, Cochin, Georgia;
}

.game-over-popup p.first {
  background-color: gold;
  font-size: 1.6em;
}

.game-over-popup p.second {
  background-color: silver;
  font-size: 1.4em;
}

.game-over-popup p.third {
  background-color: #cd7f32;
  font-size: 1.2em;
}
