.user-list {
  width: 100%;
  margin-top: auto;

  background-color: cyan;
}

.user-list p {
  justify-self: center;

  margin: 0;

  font-size: 2rem;
  font-weight: bold;
}

.user-list ul {
  padding-left: 1rem;

  list-style-type: none;
}

@media (orientation: portrait) {
}
