.user-list {
  position: absolute;
  right: 0;
  top: 0;

  width: 16rem;

  background-color: blue;
}

.user-list p {
  justify-self: center;

  line-height: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
}

.user-list ul {
  padding-left: 1rem;

  list-style-type: none;
}
