.user-list {
  width: 100%;
  margin-top: auto;

  background-color: orange;
}

.user-list .title {
  width: 100%;
  margin: 0;

  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: peachpuff;
  background-color: brown;
}

.user-list ul {
  padding: 0 0 0.5em 0;

  list-style-type: none;
}

.user-list li p {
  background-color: peachpuff;
  padding: 0.25em;
  margin: 0.5em;

  border-radius: 10px;
}

.user-list .current-turn p {
  background-color: yellow;
}
