.game {
  display: flex;

  width: 100%;
  height: 100%;
}

.game .board {
  display: grid;
  /* This allows the font size to scale with the container size */
  container-type: inline-size;

  width: 100%;
  aspect-ratio: 1;

  align-self: center;

  grid-template-columns: repeat(15, 6.667%); /* 6.667% is 1/15 */
  grid-template-rows: repeat(15, 6.667%);

  background-color: white;
}

.game .board .space {
  background-color: green;
  margin: 1px;
  border-radius: 3px;
}

.game .board .space.double-letter {
  color: blue;
  background-color: lightblue;
}

.game .board .space.double-word {
  color: brown;
  background-color: yellow;
}

.game .board .space.triple-letter {
  color: lightblue;
  background-color: blue;
}

.game .board .space.triple-word {
  color: white;
  background-color: red;
}

.game .board .space .main-text {
  height: 50%;

  margin: 0 0 0 0;

  text-align: center;

  font-family: monospace;
  font-weight: 900;
}

.game .board .space.effect .main-text {
  width: 80%;
  height: 40%;

  padding-top: 20%;
  margin: 10% 0 0 10%;

  line-height: 1;
  font-size: 1.5cqw;
  opacity: 0.7;
}

.game .board .space.tile .main-text {
  padding-top: 50%;
  line-height: 0;

  color: black;
  font-size: 5cqw;
  opacity: 1;

  background-color: peachpuff;
}

.game .board .space.tile.effect .main-text {
  padding-top: 40%;
}

.game .board .space.tile .point-text {
  position: relative;
  bottom: 15%;
  right: 3%;
  margin: 0;

  justify-self: right;
  line-height: 0;
  font-size: 2cqw;
  font-family: monospace;
  color: black;
}

.game .board .space.tile.effect .point-text {
  padding-top: 10%;
  bottom: 24%;
  right: 12%;
}

.game .board .selected {
  background-color: white;

  animation-name: boardTileHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes boardTileHover {
  0% {
    scale: 1;
    box-shadow: 0px 0px 10px black;
  }
  50% {
    scale: 1.2;
    box-shadow: 7px 7px 10px black;
  }
  100% {
    scale: 1;
    box-shadow: 0px 0px 10px black;
  }
}

.info-panel {
  background-color: lime;
}

.info-panel button.end-turn {
  width: 100%;
}

.info-panel button.end-turn p {
  font-weight: bolder;
}

.held-tiles {
  display: inline-block;
  justify-content: center;

  width: 100%;

  background-color: orange;
}

.held-tiles .tile {
  container-type: inline-size;
  cursor: pointer;
  display: inline-block;

  width: 5rem;
  aspect-ratio: 1;

  margin: 0.5vw;

  border-radius: 5px;

  font-family: monospace;

  background-color: peachpuff;

  transition-property: rotate scale box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.held-tiles .tile.selected {
  rotate: 10deg;
  scale: 1.1;
  box-shadow: 5px 5px 5px black;
}

.held-tiles .tile.placed {
  opacity: 0.5;
  pointer-events: none;
}

.held-tiles .tile .main-text {
  margin: 0 0 0 0;
  padding-top: 50%;

  line-height: 0;
  font-size: 75cqw;
  font-weight: 900;
  text-align: center;
}

.held-tiles .tile .point-text {
  position: relative;
  bottom: -30%;
  right: 5%;
  margin: 0;

  justify-self: right;
  line-height: 0;
  font-size: 40cqw;
  font-family: monospace;
  color: black;
}

@media (orientation: landscape) {
  .board {
    max-width: 100vh;
  }

  .info-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 30%;
  }
}

@media (orientation: portrait) {
  .game {
    display: block;
  }

  .info-panel {
    width: 100%;
  }

  .info-panel .held-tiles {
    display: flex;
  }
}
